<div class="page_regles">
	<h2>Règles du jeu</h2>

	<h3>Objectif</h3>
	<p>Récupérer les 7 pièces d'une couleur ou gagner par majorité.</p>

	<h3>Préparation</h3>
	<article>
		<div class="txt">
			<p>Les pièces doivent être réparti de façon aléatoire sur le plateau.</p>
			<p>Cela n'a pas d'importance si deux ou plusieurs pièces de la même couleur sont l'une à côté de l'autre. Si 7 pièces de la même couleur sont adjacentes à une autre, il faut changer la distribution.</p>
			<p>Le premier joueur est tiré au sort, il obtient le pion.</p>
		</div>
		<div class="illustration">
			<img class="exemple_dep" src="../../img/setup.jpg" alt="Exemple de plateau de départ.">
		</div>
	</article>

	<h3>Jeu</h3>
	<article>
		<div class="illustration">
			<img class="exemple_fst_move"  src="../../img/1st_move.jpg" alt="Exemple de premier mouvement">
		</div>
		<div class="txt">
			<p>Le premier joueur place le pion sur un hexagone de son choix, prend le pion qui se trouve là et le place devant lui. Cela termine son tour de jeu.</p>
		</div>
	</article>
	<article>
		<div class="txt">
			<p>A partir de maintenant, le joueur actif doit déplacer le pion dans l'une des six directions possibles. Le cas échéant, à travers les espaces inoccupés jusqu'à ce qu'il atteigne un espace occupé. Il recueille la pièce de jeu se trouvant sur cet espace et place le pion là.</p>
		</div>
		<div class="illustration">
			<img class="exemple_mouv"  src="../../img/move_1.jpg" alt="Exemple de mouvement">
		</div>
	</article>
	<article>
		<div class="illustration">
			<img class="exemple_mouv"  src="../../img/move_2.jpg" alt="Autre exemple de mouvement">
		</div>
		<div class="txt">
			<p>S'il peut récolter une autre pièce de la même couleur en continuant à déplacer le pion, le joueur actif peut continuer jusqu'à ce qu'il ne soit plus capable ou désireux de collecter une autre pièce de même couleur.</p>
		</div>
	</article>
	<article>
		<div class="txt">
			<p>Si un joueur n'a aucune possibilité de se déplacer parce que le pion n'est pas aligné avec un espace occupé, il doit sauter le pion dans n'importe quel espace et récupérer la pièce qui s'y trouve. Comme auparavant, il laisse le pion sur cet espace, et son tour se termine.</p>
		</div>
		<div class="illustration">
			<img class="exemple_dep"  src="../../img/no_move.jpg" alt="Comment agir quand toute les directions sont innutilisable.">
		</div>
	</article>
	
	<h3>Fin de la partie</h3>
	<p>Si un joueur a rassemblé les sept pièces d'une couleur, il gagne immédiatement.</p>
	<p>Sinon, le joueur qui a récolté quatre pièces ou plus sur au moins quatre couleurs à la fin du jeu gagne.</p>
</div>